<a href="https://colab.research.google.com/github/clr0715/ower_lungrung1090820/blob/master/%E6%96%B0%E8%88%88%E4%B8%BB%E9%A1%8C%E6%9C%9F%E6%9C%AB%E4%BD%9C%E6%A5%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Solution 1:
import pandas as pd
import numpy as np
census = pd.read_csv('nationalcensus.csv')
# census = pd.read_csv('http://203.68.184.214/~most15/Outline/Summer2020/data/nationalcensus.csv')
census.head()

,statistic_yyy,district_code,site_id,village,sex,age,marital_status,population
0,統計年,區域別代碼,區域別,村里,性別,年齡,婚姻狀況,人口數
1,﻿108,65000010001,新北市板橋區,留侯里,男,未滿15歲,未婚,117
2,108,65000010001,新北市板橋區,留侯里,男,未滿15歲,有偶_不同性別,0
3,108,65000010001,新北市板橋區,留侯里,男,未滿15歲,有偶_相同性別,0
4,108,65000010001,新北市板橋區,留侯里,男,未滿15歲,離婚_不同性別,0

In [ ]:
census.dtypes

statistic_yyy     object
district_code     object
site_id           object
village           object
sex               object
age               object
marital_status    object
population        object
dtype: object

In [ ]:
# Solution 2:
# 第 0 列是文字描述應該去刪除!
census.drop(index=[0], inplace=True)

# 'population' 欄位是 object 型態，應該轉為 'int' 型態
census.population = census.population.astype(int)
print('總人口數是 {:,d} 人'.format(census.population.sum()))

總人口數是 23,603,121 人

In [ ]:
# Solution 3:
census.pivot_table(index='age', columns=['sex','marital_status'], values='population', aggfunc='sum')

sex                  女                                                   \
marital_status 喪偶_不同性別 喪偶_相同性別 有偶_不同性別 有偶_相同性別       未婚 離婚_不同性別 離婚_相同性別
age
100歲以上            1912       0      81       0       95      31       0
15~19歲               4       0    2051       8   596770     302       1
20~24歲              51       0   30681     311   690596    6094      35
25~29歲             356       0  148123     791   604848   19399      38
30~34歲            1608       0  364451     888   373469   41870      10
35~39歲            6796       0  611830     881   277864   93977      10
40~44歲           14235       1  648928     561   211181  127368       2
45~49歲           24796       0  590554     287   150940  138041       3
50~54歲           44707       0  614766     108   115490  145470       0
55~59歲           78442       1  631568      46    81990  141071       0
60~64歲          119725       0  569000      10    54359  113746       1
65~69歲          167294       0  444616       4    38004   73931       1
70~74歲          153442       0  228840       1    16931   28594       0
75~79歲          169443       0  147146       0     8226   13157       0
80~84歲          160769       0   77279       0     4842    6087       0
85~89歲          112709       0   25755       0     2683    2616       0
90~94歲           53680       0    4730       0     1428     908       0
95~99歲           13356       0     607       0      451     227       0
未滿15歲                0       0       0       0  1446549       0       0

sex                  男
marital_status 喪偶_不同性別 喪偶_相同性別 有偶_不同性別 有偶_相同性別       未婚 離婚_不同性別 離婚_相同性別
age
100歲以上             749       0     622       0      244      72       0
15~19歲               0       0     474       2   654498      29       2
20~24歲               9       0   15656     106   767556    2978      32
25~29歲              50       0   95120     255   727349   13087      38
30~34歲             238       0  270955     347   511183   29104       9
35~39歲             923       0  507335     287   398351   66687       4
40~44歲            2161       0  591018     267   271360  107203       3
45~49歲            4104       1  570154     191   169496  126759       2
50~54歲            8168       0  617704     119   125136  142477       1
55~59歲           15040       0  656342      41    88681  134363       0
60~64歲           23034       0  618226      12    53975  105431       0
65~69歲           31076       0  524896      12    28821   70862       0
70~74歲           27775       0  302153       4    11811   30615       0
75~79歲           36425       0  214497       0     6359   14381       0
80~84歲           40933       0  127129       0     3661    5915       0
85~89歲           35560       0   65847       0     2398    3096       0
90~94歲           19151       0   27215       0     2106    1881       0
95~99歲            4903       0    4739       0      908     435       0
未滿15歲                0       0       0       0  1563802       0       0

In [ ]:
# Solution 4:
# 選定臺北市大安區
city1 = census[census.site_id=='臺北市大安區']
city1Result = city1.pivot_table(index='age', columns='marital_status', values='population', aggfunc='sum')

city1Result['人口數'] = city1Result.sum(axis=1)
city1Result['未婚率'] = city1Result['未婚'] / city1Result['人口數']           # 未婚率 = 未婚 / 人口數
city1Result['結婚率'] = city1Result['有偶_不同性別'] / city1Result['人口數']  # 結婚率 = 有偶_不同性別 / 人口數
city1Result['離婚率'] = city1Result['離婚_不同性別'] / city1Result['人口數']  # 離婚率 = 離婚_不同性別 / 人口數
city1Result['喪偶率'] = city1Result['喪偶_不同性別'] / city1Result['有偶_不同性別']

print('臺北市大安區')
city1Result

臺北市大安區

marital_status,喪偶_不同性別,喪偶_相同性別,有偶_不同性別,有偶_相同性別,未婚,離婚_不同性別,離婚_相同性別,人口數,未婚率,結婚率,離婚率,喪偶率
age,,,,,,,,,,,,
100歲以上,101,0,35,0,3,2,0,141,0.021277,0.248227,0.014184,2.885714
15~19歲,0,0,2,0,13964,4,0,13970,0.999571,0.000143,0.000286,0.000000
20~24歲,0,0,138,3,14950,17,0,15108,0.989542,0.009134,0.001125,0.000000
25~29歲,0,0,1395,8,13506,96,0,15005,0.900100,0.092969,0.006398,0.000000
30~34歲,5,0,6654,11,9276,303,0,16249,0.570866,0.409502,0.018647,0.000751
35~39歲,28,0,14631,22,7366,885,0,22932,0.321211,0.638017,0.038592,0.001914
40~44歲,89,0,17859,16,5589,1486,0,25039,0.223212,0.713247,0.059347,0.004983
45~49歲,183,0,15839,12,4603,2027,0,22664,0.203097,0.698862,0.089437,0.011554
50~54歲,327,0,15343,6,4083,2460,0,22219,0.183762,0.690535,0.110716,0.021313
55~59歲,569,0,15491,1,3470,2633,0,22164,0.156560,0.698926,0.118796,0.036731
60~64歲,972,0,15417,2,2803,2564,0,21758,0.128826,0.708567,0.117842,0.063047
65~69歲,1607,0,15855,1,2264,2247,0,21974,0.103031,0.721535,0.102257,0.101356
70~74歲,2005,0,10910,0,1204,1229,0,15348,0.078447,0.710842,0.080076,0.183776
75~79歲,2523,0,7105,0,506,555,0,10689,0.047338,0.664702,0.051923,0.355102
80~84歲,2737,0,4096,0,200,289,0,7322,0.027315,0.559410,0.039470,0.668213
85~89歲,2281,0,2266,0,146,159,0,4852,0.030091,0.467024,0.032770,1.006620
90~94歲,1524,0,997,0,87,92,0,2700,0.032222,0.369259,0.034074,1.528586
95~99歲,518,0,256,0,31,23,0,828,0.037440,0.309179,0.027778,2.023438
未滿15歲,0,0,0,0,46669,0,0,46669,1.000000,0.000000,0.000000,NaN

In [ ]:
# Solution 4-1:
# 選定屏東縣潮州鎮
city1 = census[census.site_id=='屏東縣潮州鎮']
city1Result = city1.pivot_table(index='age', columns='marital_status', values='population', aggfunc='sum')

city1Result['人口數'] = city1Result.sum(axis=1)
city1Result['未婚率'] = city1Result['未婚'] / city1Result['人口數']           # 未婚率 = 未婚 / 人口數
city1Result['結婚率'] = city1Result['有偶_不同性別'] / city1Result['人口數']  # 結婚率 = 有偶_不同性別 / 人口數
city1Result['離婚率'] = city1Result['離婚_不同性別'] / city1Result['人口數']  # 離婚率 = 離婚_不同性別 / 人口數
city1Result['喪偶率'] = city1Result['喪偶_不同性別'] / city1Result['有偶_不同性別']

print('屏東縣潮州鎮')
city1Result

屏東縣潮州鎮

marital_status,喪偶_不同性別,喪偶_相同性別,有偶_不同性別,有偶_相同性別,未婚,離婚_不同性別,離婚_相同性別,人口數,未婚率,結婚率,離婚率,喪偶率
age,,,,,,,,,,,,
100歲以上,5,0,0,0,0,0,0,5,0.000000,0.000000,0.000000,inf
15~19歲,0,0,2,0,2978,3,0,2983,0.998324,0.000670,0.001006,0.000000
20~24歲,0,0,123,1,3680,30,1,3835,0.959583,0.032073,0.007823,0.000000
25~29歲,2,0,507,0,3270,106,1,3886,0.841482,0.130468,0.027277,0.003945
30~34歲,8,0,1182,6,2076,194,2,3468,0.598616,0.340830,0.055940,0.006768
35~39歲,23,0,2014,7,1622,446,0,4112,0.394455,0.489786,0.108463,0.011420
40~44歲,56,0,2486,3,1197,621,0,4363,0.274353,0.569791,0.142333,0.022526
45~49歲,80,0,2544,0,743,733,0,4100,0.181220,0.620488,0.178780,0.031447
50~54歲,143,0,2902,1,598,782,0,4426,0.135111,0.655671,0.176683,0.049276
55~59歲,300,0,2930,0,396,757,0,4383,0.090349,0.668492,0.172713,0.102389
60~64歲,443,0,2698,0,236,572,0,3949,0.059762,0.683211,0.144847,0.164196
65~69歲,566,0,2356,0,146,358,0,3426,0.042615,0.687682,0.104495,0.240238
70~74歲,483,0,1278,0,68,143,0,1972,0.034483,0.648073,0.072515,0.377934
75~79歲,551,0,909,0,34,64,0,1558,0.021823,0.583440,0.041078,0.606161
80~84歲,516,0,518,0,24,38,0,1096,0.021898,0.472628,0.034672,0.996139
85~89歲,374,0,152,0,17,18,0,561,0.030303,0.270945,0.032086,2.460526
90~94歲,151,0,49,0,6,7,0,213,0.028169,0.230047,0.032864,3.081633
95~99歲,29,0,5,0,1,1,0,36,0.027778,0.138889,0.027778,5.800000
未滿15歲,0,0,0,0,5459,0,0,5459,1.000000,0.000000,0.000000,NaN